# Homework #2

- Date: 2024.03.17
- Due Date: 2024.04.07

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

[함께해보기] "Diabetes Classificiation.csv" 파일을 불러오고, 남성과 여성의 평균 나이를 출력하세요.
- 남성 최대, 최소 나이도 구해보세요
- 여성 최대, 최소 나이도 구해보세요

In [16]:
data = pd.read_csv("../Diabetes Classification.csv")

In [11]:
data

,Unnamed: 0,Age,Gender,BMI,Chol,TG,HDL,LDL,Cr,BUN,Diagnosis
0,0,50,F,24,4.20,0.90,2.40,1.40,46.0,4.70,0
1,1,26,M,23,3.70,1.40,1.10,2.10,62.0,4.50,0
2,2,33,M,21,4.90,1.00,0.80,2.00,46.0,7.10,0
3,3,45,F,21,2.90,1.00,1.00,1.50,24.0,2.30,0
4,4,50,F,24,3.60,1.30,0.90,2.10,50.0,2.00,0
...,...,...,...,...,...,...,...,...,...,...,...
5127,5127,54,M,23,5.00,1.50,1.24,2.98,77.0,3.50,1
5128,5128,50,F,22,4.37,2.09,1.37,2.29,47.3,4.40,1
5129,5129,67,M,24,3.89,1.38,1.14,2.17,70.6,4.73,1
5130,5130,60,F,29,5.91,1.29,1.73,2.85,50.2,7.33,1
5131,5131,37,M,34,5.42,2.66,1.08,2.87,75.5,4.61,1

[문제1] 30대 이상 여성의 평균 BMI와 Chol 수치는 얼마인가요?

In [26]:
data_male = data[data['Gender'] == "M"]
data_female = data[data['Gender'] == "F"]


print("남성평균나이: " + str(np.mean(data_male["Age"])))

BMI_avg = str(np.mean(data_female["BMI"]))
Chol_avg = str(np.mean(data_female["Chol"]))

남성평균나이: 48.84244471744472

[문제2] 당뇨병에 걸린 사람(Diagnosis==1)의 남녀 비율은 어떻게 되나요? 평균 연령은 어떻게 되나요?
- 당뇨병에 걸리지 않은 사람들은 총 몇명인가요?
- 당뇨병에 걸리지 않은 남녀 비율은 어떻게 되나요?

[문제3] 당뇨병에 걸린 사람들의 혈액검사 수치 결과와 당뇨병에 걸리지 않은 사람들의 혈액검사 수치 결과는 어떻게 다른가요? 
(자유분석)
- 예) 당뇨병에 걸린 사람들의 콜레스테롤 수치가 당뇨병을 걸리지 않은 사람들의 콜레스테롤 수치보다 *** 이상 높다.